@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4"> 
            <div class="col-4"><h3 class="alert-danger">Under construction!!</h3></div>
            <div class="col-8" style="text-align:right"><a href="login">Login</a></div>            
        </div>

        <article class="content px-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <ErrorHandler />
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>
@code {
    private void OnError(Exception ex)
    {
        // Handle the error (e.g., log it)
    }
}
